
.App {
  text-align: center;
}

.home, .timeline {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 5%;
}


.stateImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.postImg {
  width: 60%;
}

body {
  background-color: #9EA68D;
  font-family: 'Manrope', sans-serif;
}

a {
  text-decoration: none;
  color:#F2F2F2; 
}

a:hover {
  color: #172601; 
}




