
.App {
  text-align: center;
}

.home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 5%;
}


/* Home Page */
.stateMap {
  filter: grayscale(70%);
  padding: 10px; 
  border-radius: 10%;
}

.stateMap:hover {
  filter: grayscale(0%);
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.9), 0 12px 40px 0 rgba(255, 255, 255, 0.29);
}
.stateImg {
  flex-shrink: 2;
  border-radius: 10%;
  width: 80%;
}

/* State Page */
.state-page-image {
  width: 20%;
  border-radius: 10%;
  margin-top: 15px;
}

.state-wrapper {
  color: #f2f2f2;
}

.state-description {
  font-style: italic;
  margin-bottom: 40px;
}
 .trailImg {
  width: 60%;
  border-radius: 10%;
  margin-top: 10px;
 }

.trails-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
}

.trailMap {
  padding: 10px; 
  border-radius: 10%;
}

.trailMap:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.9), 0 12px 40px 0 rgba(255, 255, 255, 0.29);
}

/* Post Page */
.postImg {
  width: 18%;
  border-radius: 8px;
  margin: 15px;
}

.post-wrapper { 
  color: #f2f2f2; 
}

.postInfo h2 {
  color: #736356;
}



/* Post Timeline */
hr {
  width: 80%;
  height: 3px; 
  background-color: #f2f2f2;
  border: none; 
}

/* Comments */
.comment-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments-wrapper {
  color: #4C5939;
}

/* Navigation */
.navLogo {
  padding: 5px; 
  height: 40px;
}

body {
  background-color: #9EA68D;
  font-family: 'Manrope', sans-serif;
}

a {
  text-decoration: none;
  color:#F2F2F2; 
  padding: 0 20px;
}

/* Heading for pages */
.heading {
  font-size: 50px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4C5939;
  margin: 0; 
  padding: 0 8%;
}

a:hover {
  color: rgb(23, 38, 1); 
}

h1 {
  color: #f2f2f2;
}

h2 {
  margin:3px;
}

h4 {
  margin: 3px;
}


/* CSS from https://getcssscan.com/css-buttons-examples */
button {
  align-self: center;
  background-color: #fff;
  background-position: 0 90%;
  margin: 8px 8px; 
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(23, 38, 1, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #4C5939;
  font-size: 1rem;
  line-height: 10px;
  outline: none;
  padding: .6rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(23, 38, 1, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

button:focus {
  box-shadow: rgba(23, 38, 1, .3) 2px 8px 4px -6px;
}

.about-page {
  margin-top: 20px;
}

.about-page img.blaze-logo {
  width: 15%;
  height: 15%;
  margin: 50px 0;
}

.summary-wrapper p {
  color: #172601;
}

.contacts-wrapper {
  margin-top: 65px;
}


.tree {
  position: absolute;
  bottom: 92%;
  left: 60%;
}

.treeOne {
  margin:0; 
  width: 60px; 
  position: relative;
  animation: danceOne 5s infinite;
}

.treeTwo {
  width: 50px; 
  position: relative;
  animation: danceTwo 5s infinite;
}

.treeThree {
  width: 60px; 
  position: relative;
  animation: danceThree 5s infinite;
}

@keyframes danceOne {
  0%   {transform: rotate(25deg);}
  25%  {transform: rotate(5deg) !important;}
  50%  {transform: rotate(0deg);}
  75%  {transform: rotate(-5deg) !important;}
  100% {transform: rotate(25deg);}
}

@keyframes danceTwo {
  0%   {transform: rotate(-25deg);}
  25%  {transform: rotate(-5deg) !important;}
  50%  {transform: rotate(0deg);}
  75%  {transform: rotate(5deg) !important;}
  100% {transform: rotate(-25deg);}
}

@keyframes danceThree {
  0%   {transform: rotate(-15deg);}
  25%  {transform: rotate(-5deg) !important;}
  50%  {transform: rotate(0deg);}
  75%  {transform: rotate(5deg) !important;}
  100% {transform: rotate(-15deg);}
}

.map {
  width: 50%;
  height:300px;
  margin: 20px auto;
}