
.App {
  text-align: center;
}

.home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 5%;
}

.stateMap {
  filter: grayscale(60%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.stateName {
  position: absolute;
  background-color: #9EA68D;
  padding: 5px;
  border-radius: 10px;
}

.stateMap:hover {
  filter: grayscale(0%);
}
.stateImg {
  flex-shrink: 2;
  border-radius: 10%;
  width: 80%;
}


.postImg {
  width: 20%;
  border-radius: 8px;
}

.post-wrapper { 
  color: #f2f2f2; 
}

.navLogo {
  padding: 5px; 
  height: 40px;
}

body {
  background-color: #9EA68D;
  font-family: 'Manrope', sans-serif;
}

a {
  text-decoration: none;
  color:#F2F2F2; 
  padding: 0 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4C5939;
  margin: 0; 
  padding: 0 8%;
}

a:hover {
  color: #172601; 
}

h1 {
  color: #f2f2f2;
}

h2 {
  margin:0;
}

button {
  background-color: #4C5939;
  color: #f2f2f2;
  font-family: 'Manrope', sans-serif;
  margin: 10px;
  border-radius: 10px;
  border: 3px solid #4C5939; 
}

button:hover {
  background-color: #f2f2f2;
  color:#172601;
}

.about-page {
  margin-top: 20px;
}

.about-page img.blaze-logo {
  width: 15%;
  height: 15%;
  margin: 50px 0;
}

.summary-wrapper p {
  color: #172601;
}

.contacts-wrapper {
  margin-top: 65px;
}


.tree {
  position: absolute;
  bottom: 92%;
  left: 60%;
}

.treeOne {
  margin:0; 
  width: 60px; 
  position: relative;
  animation: danceOne 5s infinite;
}

.treeTwo {
  width: 50px; 
  position: relative;
  animation: danceTwo 5s infinite;
}

.treeThree {
  width: 60px; 
  position: relative;
  animation: danceThree 5s infinite;
}

@keyframes danceOne {
  0%   {transform: rotate(25deg);}
  25%  {transform: rotate(5deg) !important;}
  50%  {transform: rotate(0deg);}
  75%  {transform: rotate(-5deg) !important;}
  100% {transform: rotate(25deg);}
}

@keyframes danceTwo {
  0%   {transform: rotate(-25deg);}
  25%  {transform: rotate(-5deg) !important;}
  50%  {transform: rotate(0deg);}
  75%  {transform: rotate(5deg) !important;}
  100% {transform: rotate(-25deg);}
}

@keyframes danceThree {
  0%   {transform: rotate(-15deg);}
  25%  {transform: rotate(-5deg) !important;}
  50%  {transform: rotate(0deg);}
  75%  {transform: rotate(5deg) !important;}
  100% {transform: rotate(-15deg);}
}

